# RESEND_API_KEY: Required for sending real emails for consultations & evaluation forms.
RESEND_API_KEY=

# SENDER_EMAIL: Optional. The verified sender email address or domain in your Resend account.
# e.g., appointments@contact.drestrellaplasticsurgeon.com
SENDER_EMAIL=
